# Porty usług
PORT_POSTGRES=5432
PORT_MONGO=27017
PORT_REDIS=6379
PORT_RABBITMQ_AMQP=5672
PORT_RABBITMQ_MGMT=15672
PORT_API_GATEWAY=5000

# Baza danych
POSTGRES_USER=shopuser
POSTGRES_PASSWORD=wpisz_tutaj_bezpieczne_haslo
POSTGRES_DB=HybridShopDb

# Connection Stringi dla Dockera
DB_CONNECTION_STRING=Host=postgres;Database=HybridShopDb;Username=shopuser;Password=wpisz_tutaj_bezpieczne_haslo
MONGO_CONNECTION_STRING=mongodb://mongo:27017
REDIS_CONNECTION_STRING=redis:6379

# JWT
JWT_KEY=wpisz_tutaj_losowy_bezpieczny_klucz_jwt
JWT_ISSUER=HybridShop.Services.Auth
JWT_AUDIENCE=HybridShop.ApiGateway

#gRPC
InternalServices__AuthGrpcUrl=http://auth-service:8081
InternalServices__ProductUrl=http://product-service:8081